.wrapper {
  text-align: center;
  margin: 5%;
}
.title {
  margin-top: 25px;
  font-size: 35px;
  text-align: center;
  line-height: 40px;
}

.results {
  margin-top: 50px;
  display: grid;
  text-align: center;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
}

.product {
  margin: 25px;
  width: 250px;
  height: auto;
}

.productImage {
  width: 250px;
  height: auto;
}
