<div class="background">
    <div class="wrapper">
      <div class="title">
        Vous cherchez '{{food}}' à '{{localization}}' :
      </div>
      <div class="results">
          <div *ngFor="let product of products" class="product">
            <div class="img">
              <img [src]="product.pic_url" class="productImage" alt="image">
            </div>
            <div class="infos">
              <div class="title">{{product.title}}</div>
              <span class="price">{{product.quantity}}</span><span class="priceUnit">€ / kg</span>
              <div class="quantity">
                <span class="quantityText">{{product.price}}</span>
                <span> unités</span></div>
            </div>
          </div>
      </div>
    </div>
  </div>
