<div class="sections">
  <div class="section1 grid">
    <div class="wrapper">
      <div class="right">
        <h1 class="titre titre1">
          Des produits laids
        </h1>
        <div class="text">
          Les fruits et légumes sont récoltées par le producteur même s'ils ne respectent pas les calibres esthétiques.
          Ces produits 'laids' sont alors mis en vente sur la platforme puis l'acheteur vient les récupérer directement
          auprès du producteur. Deux types de produits sont proposés, des fruits et légumes destinés à l'alimentation
          humaine et des produits destinés à la consommation animale.
        </div>
      </div>
      <div class="left">
        <div class="img">
          <img id="img3" src="../../../assets/philo1.png" alt="Face image"/>
        </div>
      </div>
    </div>
  </div>
  <div class="section2 grid">
    <div class="wrapper">
      <div class="left">
        <h1 class="titre titre2">
          Anti-gaspi
        </h1>
        <div class="text">
          Environ 15% de la production de fruits et légumes est jetée car non calibrée pour la grande distribution
          alors que les aliments sont parfaitement comestibles. En achetant vos aliments auprès de votre producteur
          local vous garentissez à ce dernier de ne pas jeter ces produits et vous participez à la lutte contre le
          gaspillage alimentaire.
        </div>
      </div>
      <div class="right">
        <div class="img">
          <img id="img" src="../../../assets/philo2.png" alt="Face image"/>
        </div>
      </div>
    </div>
  </div>
  <div class="section3 grid">
    <div class="wrapper">
      <div class="left">
        <div class="img">
          <img id="img2" src="../../../assets/philo3.png" alt="Face image"/>
        </div>
      </div>
      <div class="right">
        <h1 class="titre titre3">
          Nos valeurs
        </h1>
        <div class="text">
          Promouvoir les producteurs locaux et favoriser les circuits courts tout en garantissant des produits de
          qualité en moyenne 40% moins chères qu'en grande surface.
        </div>
      </div>
    </div>
  </div>
</div>
