<div class="background">
  <div class="wrapper">
    <div class="title">Connexion</div>
    <div class="error">
      {{error}}
    </div>


    <form class="loginForm" name="loginFrom" (ngSubmit)="submit()" ngForm="">
      <input type="text" class="emailInput" autocomplete="off" name="email" placeholder="Email" [(ngModel)]="email">
      <input type="password" class="passwordInput" autocomplete="off" name="password" placeholder="Mot de passe" [(ngModel)]="password">
      <mat-card-actions class="icon">
        <button mat-button class="button">
          Se connecter
        </button>
      </mat-card-actions>
      <input type="submit" style="visibility: hidden">
    </form>





  </div>
</div>
