.spacer {
  flex: 1 1 auto;
}

.link {
  margin-right: 5%;
}

.linkg {
  margin-left: 5%;
}

.linkd {
  margin-right: 5%;
}

.white {
  color: white;
}

.gray {
  color: #c5c5c5;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: green;
}

.mat-primary {
  margin-top: 25px;
  margin-bottom: 25px;
}

img {
  width: 50%;
  height:auto;
  margin-top: 15px;
  max-height: 220px;
}
.shadow {
  width: 100%;
  height: 3px;
  background-color: green;
}
.mat-toolbar.mat-primary {
  background: white;
  color: white;
}
@media (max-width: 700px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    flex-direction: column;
  }
  .link {
    margin: 0;
  }
  .linkd {
    margin-top: 10px;
  }
  .mat-primary {
    margin-top: 5px;
  }
  .linkg {
    margin-left: 0;
  }
  .linkd {
    margin-right: 0;
    font-size: 20px;
  }
  .link {
    margin-top: 10px;
    font-size: 20px;
  }
}
.avatar {
  border-radius: 50%;
  width: 45%;
  height: auto;
}
.logout {
  font-size: 15px;
}

.logout:hover {
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
}
