<mat-toolbar color="primary">
  <a routerLink="" routerLinkActive="active" class="linkg">
    <div class="link">
      <img src="assets/logo_lfl.png" class="logo" alt="logo">
    </div>
  </a>
  <div class="spacer"></div>
  <a *ngIf="!logged" routerLink="/notre-philosophie" routerLinkActive="active" class="link">Notre philosophie</a>
  <a *ngIf="!logged" routerLink="/login" routerLinkActive="active" class="link">Se connecter</a>
  <a *ngIf="!logged" routerLink="/register" routerLinkActive="active" class="link">S'enregistrer</a>
  <a *ngIf="logged && url" (click)="getToProfile()"><img [src]="url" class="avatar" alt="avatar"></a>
  <a *ngIf="logged" (click)="logout()" routerLinkActive="active" class="link logout">Se déconnecter</a>
</mat-toolbar>
<div class="shadow"></div>
