<div class="sections">
  <div class="section1 grid">
    <div class="wrapper">
      <div class="right">
        <h1 class="titre titre1">
          Le concept
        </h1>
        <div class="text">
          Les fruits et légumes sont récoltées par l'agriculteur même s'ils ne respectent pas les calibres esthétiques.
          Ces produits laids sont alors mis en vente sur la platforme puis l'acheteur vient les récupérer directement
          auprès du producteur.
        </div>
      </div>
      <div class="left">
        <div class="img">
          <img id="img3" src="./assets/philo1.png" alt="Face image"/>
        </div>
      </div>
    </div>
  </div>
  <div class="section2 grid">
    <div class="wrapper">
      <div class="left">
        <h1 class="titre titre2">
          Anti-gaspi
        </h1>
        <div class="text">
          Actuellement en 2ème année d'école d'ingénieur à EPITA Paris et passionné de programmation web, j'aime créer
          designer et coder.
        </div>
      </div>
      <div class="right">
        <div class="img">
          <img id="img" src="./assets/philo2.png" alt="Face image"/>
        </div>
      </div>
    </div>
  </div>
  <div class="section3 grid">
    <div class="wrapper">
      <div class="left">
        <div class="img">
          <img id="img2" src="./assets/skills.png" alt="Face image"/>
        </div>
      </div>
      <div class="right">
        <h1 class="titre titre3">
          Compétences
        </h1>
        <div class="text wh">
          <ul>
            <li>HTML / CSS</li>
            <li>Angular / React</li>
            <li>NodeJS</li>
            <li>MongoDB / MySQL</li>
            <li>GitHub / Photoshop / Illustrator </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
