.profile {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 90%;
  height: 280px;
  background-color: #62310e;
  text-align: center;
}
.products {
  margin: auto;
  margin-top: 35px;
  width: 90%;
  height: 100px;
  background-color: green;
}
.center {
  text-align: center;
}
.avatar {
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 25px;
  max-width: 200px;
}
.picture {
  text-align: left;
}
.infos {
  width: 100%;
  margin-top: 100px;
}
.lastName {
  font-size: 45px;
}
.address {
  margin-top: 25px;
}
.products {
  display: flex;
}
.productImage {
  margin: 5px;
  width: 80px;
  max-height: 80px;
  height: auto;
  border-radius: 50%;
}
.description {
  width: 100%;
  text-align: center;
}

.productTitle {
  margin-top: 15px;
  font-size: 35px;
}

.firstNameProduct {
  margin-top: 15px;
  font-size: 15px;
}
.avatar:hover {
  cursor: pointer;
}
