.background {
  background-image: url("src/assets/registerr.jpg");
  position: absolute;
  height: 120%;
  width: 100%;
  background-repeat: repeat;
  background-size: cover;
}

.wrapper {
  width: 400px;
  height: 790px;
  background-color: white;
  margin: auto;
  margin-top: 85px;
  border-radius: 25px;
}
.mat-button {
  background-color: saddlebrown;
}
.loginForm {
  text-align: center;
  display: grid;
  justify-content: center;
}
.emailInput {
  margin-top: 15px;
}
.button {
  margin-top: 100px;
}
.title {
  text-align: center;
  padding-top: 80px;
  font-size: 45px;
  color: saddlebrown;
}
.t {
  margin-top: 35px;
}
button:hover {
  background-color: #62310e;
}
input {
  border: solid 2px saddlebrown;
  border-radius: 25px;
  height: 35px;
  width: 250px;
}
input[type="text"], input[type="password"] {
  padding-left: 15px;
}
input:focus-within {
  border: 2px solid green;
  outline: none;
}
.checkbox {
  display: grid;

}
.ttl {
  text-align: center;
  margin: 15px;
}
.checkboxs {
  text-align: center;
  margin-top: 85px;
}
#buyerForm {
  text-align: center;
}
#sellerForm {
  text-align: center;
}
.mat-button {
  width: 150px;
}
.center {
  text-align: center;
}
.retourl {
  position: absolute;
  top: 100px;
}

.back {
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}
.abs {
  position: absolute;
  margin-top: 10px;
}

.t {
  margin-top: 70px;
}
a {
  cursor: pointer;
}
.error {
  padding-top: 25px;
  color: red;
}
